@import "tailwindcss";

:root {
  --mpesa-green: #06402B;
  --mpesa-dark: #1C1C1C;
  --mpesa-light: #F5F5F5;
  --mpesa-red: #E60000;
  --mpesa-charcoal: #2E2E2E;
  --light-green:#24a148;
  --background: var(--mpesa-light);
  --foreground: var(--mpesa-dark);
  --font-sans: var(--font-roboto);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-roboto);
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family:  var(--font-sans), sans-serif;
}
